:root {
  --red: #ff8686;
  --green: #2fc351;
  --orange: #ffc107;
  --white: #ffffff;
  --black: #000000;
  --info: #b0b3b7;
  --card-background: #3c3e44;
  --background: #272b33;
  --footer-background: #202329;
}