.cards {
  background-color: var(--background);
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center; /* Para centrar el contenido */
  padding: 1rem;
}

.card {
  background-color: var(--card-background);
  display: flex;
  flex-direction: row;
  flex-basis: calc(33.333% - 1.5rem); /* Ajuste para que siempre se vean tres tarjetas por fila */
  max-width: 600px;
  height: 220px;
  color: var(--white);
  text-align: left;
  border-radius: 0.625rem;
  transition: transform 0.2s, box-shadow 0.2s;
  box-shadow: 0 0.125rem 0.313rem rgba(0, 0, 0, 0.2);

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 0.25rem 0.625rem rgba(0, 0, 0, 0.3);
  }

  &__image {
    width: 40%;
    height: auto;
    object-fit: cover;
    border-top-left-radius: 0.625rem;
    border-bottom-left-radius: 0.625rem;
    cursor: pointer;
  }

  &__text {
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }

  &__title {
    font-size: 1.4rem;
    font-weight: bold;
    color: var(--white);
    margin-bottom: 0.5rem;
    cursor: pointer;

    &:hover {
      color: var(--orange);
    }
  }

  &__species {
    font-size: 1rem;
    color: var(--info);
    margin-bottom: 0.5rem;
  }

  &__status {
    font-size: 1rem;

    &.alive {
      color: var(--green);
      font-weight: bold;
    }

    &.dead {
      color: var(--red);
      font-weight: bold;
    }

    &.unknown {
      color: var(--orange);
      font-weight: bold;
    }
  }
}

@media (max-width: 1024px) {
  .card {
    flex-basis: calc(50% - 1.5rem);
  }
}

@media (max-width: 768px) {
  .card {
    flex-basis: 100%;
    height: auto;
  }

  .card__image {
    width: 100%;
    height: auto;
    border-radius: 0.625rem 0.625rem 0 0;
  }

  .card__text {
    padding: 1rem;
  }
}