.footer {
  background-color: var(--footer-background);
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 1.2rem;

  & hr {
    width: 50%;
    margin-bottom: 1.25rem;
    border: 0.063rem solid;
    color: var(--white);
  }

  &__social {
    margin: 1.25rem;

    &-icon {
      font-size: 1.6rem;
      margin: 0 0.938rem;
      color: var(--white);

      &:hover {
        color: var(--orange);
      }
    }
  }

  &__attribution {
    color: var(--white);
    font-weight: bold;
    text-decoration: none;

    &:hover {
      color: var(--orange);
    }
  }
}