.header {
  position: relative;
  margin: 0;
  padding: 0;
  font-size: 2rem;
  height: 12.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__navbar {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.938rem 1.25rem;
    width: 100%;
    position: absolute;
    top: 0;

    &-list {
      display: flex;
      list-style: none;
      font-size: 1.5rem;
      font-weight: 900;
    }

    &-link {
      text-decoration: none;
      padding: 0.625rem 0.938rem;
      color: var(--black);
      transition: color 0.3s;

      &:hover {
        color: var(--orange);
      }
    }

    &-svg {
      height: 2.5rem;
      margin-right: auto;
      cursor: pointer;
    }
  }

  &__svg {
    position: absolute;
    opacity: 0.4;
    z-index: -1;
    top: 1.563rem;
    left: 0;
    width: 100%;
    height: auto;
    max-height: 100%;
  }

  &__title {
    position: relative;
    z-index: 1;
    color: var(--white);
    text-align: center;
  }
}
